<!Doctype html>
<html>
      <head>
        <meta charset="utf-8">
      	<title>Weconnect</title>
      	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
      </head>
      <body>
      	<div class="container">
                <h1>WeConnect</h1>
                <h3>Connecting people to your business</h3>
      	    <img src="{{url_for('static',filename='business-icon.png')}}" class="user">
      	    <h2>Review Business</h2>
      	    <form>
      	        <p>Business Name:</p>
      	        <input type="text" name="business_name" placeholder="Business name" required>
                <p>Review:</p>
                <textarea rows="3" ></textarea></br>
                <input type="submit" name="" value="Review"></br></br>
      	    </form>      		
      	</div>
      </body>
</html>