<!Doctype html>
<html>
      <head>
        <meta charset="utf-8">
      	<title>Weconnect</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
        <h4> Welcome {{current_user.username}}</h4></br>
      </head>
      <body>
      	<div class="businesscontainer">
                <h1>WeConnect</h1>
                <h3>Connecting people to your business</h3>
            <div class="navbar">
              <ul>
                  <li><a href="/addbusiness">Add Business</a></li>
                  <li><a href="/reviews">Reviews</a></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
            <div class="businessSection">
                  {% if error %}
               <strong style="color:#ff0000;">Error: {{error}}</strong>
                  {% endif %}
                  
            {% for business in businesses %}
            <form >
                 <input type="hidden" name="id" value="{{business.id}}">
                 <label>Name:</label>
                 <input type="text" name="business_name" id="nameInput"  value="{{business.business_name }}">
                 <label>Category:</label>
                 <input type="text" name="Category" id="categoryInput" value="{{business.business_category }}">
                 <label>Location:</label>
                 <input type="text" name="location" id="locationInput" value="{{ business.business_location}}">
                 <input type="hidden" name="user_id" value="{{business.user_id}}">
  
                 <button class="update">Update</button>
                 <button class="update">Review</button>
                 <button class="update">Delete</button>
              </form>
              {% endfor %}
            </div>
      	</div>
      </body>
</html>