<!Doctype html>
<html>
      <head>
        <meta charset="utf-8">
      	<title>Weconnect</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
      </head>
      <body>
      	<div class="businesscontainer">
                <h1>WeConnect</h1>
                <h3>Connecting people to your business</h3>
            <div class="navbar">
              <ul>
                  <li><a href="/addbusiness">Add Business</a></li>
                  <li><a href="/reviews">Reviews</a></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
            <div class="businessSection">
                 <h3> Business ID: </h3>
                 <label>Name:</label>
                 <input type="text" name="" value="">
                 <label>Category:</label>
                 <input type="text" name="" value="">
                 <label>Location:</label>
                 <input type="text" name="" value="">
                 <label>Owner_ID:</label>
                 <input type="text" name="" value="">
                 <button class="update">Update</button>
                 <button class="update">Review</button>
                 <button class="update">Delete</button>
            </div>
      	</div>
      </body>
</html>