<!Doctype html>
<html>
      <head>
        <meta charset="utf-8">
      	<title>Weconnect</title>
      	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
      </head>
      <body>
      	<div class="container">
                <h1>WeConnect</h1>
                <h3>Connecting people to your business</h3>
      	    <img src="{{url_for('static',filename='user.jpeg')}}" class="user">
            <div class="navbar">
              <ul>
                  <li><a href="#">Businesses</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><a href="#">Logout</a></li>
              </ul>
            </div>     		
      	</div>
      </body>
</html>