<!Doctype html>
<html>
      <head>
        <meta charset="utf-8">
      	<title>Weconnect</title>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
      </head>
      <body>
      	<div class="businesscontainer">
                <h1>WeConnect</h1>
                <h3>Connecting people to your business</h3>
            <div class="navbar">
              <ul>
                  <li><a href="/business">Businesses</a></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
            <div class="businessSection">
                 <h3> Business Name: </h3>
                 <ol>
                   <li>Reviews</li>
                 </ol>
            </div>
      	</div>
      </body>
</html>